/* root */

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


/* Стилизация полосы прокрутки веб-страницы */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  padding: 0;
}

/* Стилизация бегунка полосы прокрутки */
::-webkit-scrollbar-thumb {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  border: 0px solid transparent;
  background-color: rgba(143, 143, 148, 0.5);
}

/* Стилизация трека полосы прокрутки */
::-webkit-scrollbar-track {
  background-color: transparent;
}


:root {
  --darkred: #BE3434;
  --body: #2D2D2D;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--body);
}

button{
  cursor: pointer;
}
button:hover{
  transition: .2s ease;
}

/* root */



/* header */

.main__header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 71px;
  background-color: #111;
  z-index: 10;
}




.fixed {
  position: fixed;
}


.logo-button{
  background: none;
  border: none;
  cursor: pointer;
}
.logo{
  width: 60px;
  height: 60px;
  margin: 5px 20px;
}


.bar{
  margin: 10px;
  width: 50px;
  height: 50px;
}

.menu{
  display: flex;
  position: absolute;
  width:  100%;
  height: 100%;
  background-color: #000000d5;
  z-index: 10;
  animation: barAnim .5s;
}

@keyframes barAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}

.menu a{
  display: flex;
  text-align: center;
  text-decoration: inherit;
  color: var(--darkred);
  font-family: inter;
  font-weight: bold;
  font-size: 50px;
  line-height: 2;

}
.menu ul{
  margin: 100px 130px;
  text-align: center;
  width: 100%;
}
.logo-button2{
  margin: 10px;
  right: 0;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.non-active{
  display: none;
}
.no-scroll{
  overflow: hidden;
}

/* header */


/* workouts-section */

.workouts-section {
  width: 100%;
}

.exercise {
  position: relative;
  margin-block-end: 15px;
}
.exercise-img{
  width: 100%;
  height: 255px;
  object-fit: cover;
}


.exercise h1 {
  color: var(--darkred);
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 63%;
  left: 5%;
  z-index: 2; 
}
.exercise h2 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  position: absolute;
  top: 80%;
  left: 5%;
  z-index: 2; 
}



  /* exercise */

.arrow{
  position: absolute;
  margin: 20px;
}

.amount{
  width: 100%;
  height: 30px;
  margin-bottom: 8rem;
}
.amount h1{
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-family: inter;
  font-weight: bold;
  font-size: 30px;
}
.tample-h1{
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-family: inter;
  font-weight: bold;
  font-size: 30px;
}
.amount input{
  width: 100%;
  display: flex;
  height: 4rem;
  background-color: #373737;
  border: none;

  font-family: inter;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  color: #d5cfcf;
}

.amount input::placeholder{
  font-family: inter;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  color: #d5cfcf;
}

.amount input:focus{
  outline: none;
}

.buttons-exercise{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
}

.add-round{
  padding: 15px 100px;
  border: none;
  border-radius: 15px;
  background-color: var(--darkred);
  margin-bottom: 20px;
  margin-top: 20px;
}
.add-round:hover{
  background-color: #7f2525;
}
.add-round span{
  font-family: inter;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.finish-up{
  padding: 15px 100px;
  border: none;
  border-radius: 15px;
  background-color: #f17900;
  margin-bottom: 50px;
}
.finish-up:hover{
  background-color: #b75c00;
}
.finish-up span{
  font-family: inter;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

  /* exercise */

/* workouts-section */




.hotbar-button{
  padding: 10px;
  overflow: hidden;
  z-index: 2; 
  min-width: 100%;
  height: 4rem;
  overflow-x: auto; 
  white-space: nowrap;
}

.hotbar-button button{
  margin-inline: 5px;
  padding: 10px 20px;
  border: var(--darkred) 1.7px solid;
  border-radius: 5px;
  background: #4d4b4b;
}
.hotbar-button span{
  color: #fff;
  font-family: inter;
  font-weight: 600;
}





button.active-button {
  background: linear-gradient(#b911115e, #a634349f);
}

.results {

  padding: 10px;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.result {
  display: inline-block;
  vertical-align: top; /* Якщо потрібно вирівняти вертикально */
  margin-right: 10px; /* Додайте бажаний відступ між карточками */
}



.result{
  margin-inline: 50px;
  position: relative;
  margin-block-start: 30px;
  width: 300px;
  height: 300px;
  background-color: #929191;
  border-radius: 30px;
}

.delete {
  width: 300px;
  height: 60px;
  background: #000;
  display: flex;
  justify-content: center;
  position: absolute; 
  bottom: 0;
  border-radius: 0px 0px 30px 30px;
}
.trash{
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.trash-btn{
  background: none;
  border: none;
  width: 300px;
}

.result-exercise-h1{
  color: rgb(253, 0, 0);
  text-align: center;
  font-family: inter;
  font-weight: 900;
  font-size: 30px;
}

p.date2{
  color: rgb(89, 76, 76);
}

.result-exercise-ul{
  color: #fff;
  font-weight: bold;
  font-family: inter;
  font-size: 20px;
  margin: 20px;
}
.result-exercise-li{
  list-style: none;
  margin-block-start: 10px;
}

.date{
  color: #fff;
  text-align: center;
  font-family: inter;
  font-weight: 700;
}

.dblclick-p{
  margin-top: 50px;
  color: #6b6969;
  text-align: center;
  font-family: inter;
  font-weight: 700;
}

